html {
  /* Ramener la taille par défaut à 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

/* Styles des liens par défaut */
a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* Styles des titres par défaut */
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

p {
  margin-bottom: 0;
  margin-top: 5px;
} 

nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

a {
  display: block;
  color: #f2e6e6;
  background-color: #3274d6;;
  margin: 10px;
  padding: 15px 10px;
  text-align: center;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.half {
    width: 80%;
}

.card {
  
  margin: 1rem;
  /* background-color: #f6ead4;  */
  background-color: #de781f78;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid rgba(29, 60, 69, 0.8705882353);
  border-radius: 10px;
}
.card a {
  width: 180px;
  margin: auto;
}

img {
  width: 150px;
}

.date {
  text-align: center;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"]{
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}