<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <meta name="description" content="wonderfull blog">
</head>

<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/api/v1/story">Toutes nos stories</a>
            <a href="/admin">contact</a>
        </nav>
    </header>
    <%- include(template) %>
        <footer></footer>
</body>

</html>