
<% if (errorMess.length>0) { %>
<div class="errorMess" id="modal">
    <div class="content">
        
            <p>Ah, il y a un petit problème : </br>
                <span class="error"> 
                <% errorMess.forEach(message=> { %>
                    <%= message %> </br>
                <% }) %>
                </span>
            </p>
            <p>Merci de corriger ce qui ne va pas !</p>
            <a href="#modal">Compris</a>
           
    </div>
</div>
<% } %>


<div class="login">
    <h1>Register</h1>
    <form action="/auth/register" method="post">
        <label for="alias">
            <!-- font awesome icon -->
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="alias" placeholder="alias" id="alias" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="email" id="email" required>

        <input type="submit" value="Register">
    </form>
</div>
